button.submitBtn{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: black;
    transition: all 0.3s ease-in-out;
}
button.submitBtn:hover{
    background-color: rgb(78, 78, 78);
    cursor: pointer;
    transform: scale(1.2);
}
img.submitBtn{
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) invert(1);
    object-fit: contain;
}